.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
*.so
*.d
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
rebar3.crashdump
build-*
rebar.lock
compile_commands.json
doc
*.iml
c_src/build*
c_src/CMakeLists.txt.user*